{{ letsencrypt__domain_list.0 }} {{ letsencrypt__configdir }}/certs/{{ letsencrypt__domain_list.0 }}/fake/privkey.pem {{ letsencrypt__configdir }}/certs/{{ letsencrypt__domain_list.0 }}/fake/cert.pem {{ letsencrypt__configdir }}/certs/{{ letsencrypt__domain_list.0 }}/fake/fullchain.pem {{ letsencrypt__configdir }}/certs/{{ letsencrypt__domain_list.0 }}/fake/chain.pem 0000000001
