#!/usr/bin/env bash

deploy_cert() {
    echo "Hook for domain $1 triggerd, add to {{ letsencrypt__configdir }}/to_deploy folder!"
    echo "$@" > "{{ letsencrypt__configdir }}/to_deploy/$1"
}

HANDLER="$1"; shift
if [[ "${HANDLER}" =~ ^(deploy_cert)$ ]]; then
  "$HANDLER" "$@"
fi
